.DS_Store
.AppleDouble
.LSOverride
._*
.vscode
testcfg.py
plotanyonedsp.py

# python installaion files
__pycache__
*.egg-info

# distribution / packaging
.Python
build/
develop-eggs/
dist/

temp_refs/